---
- name: Set SELinux exceptions for apache
  command: "setsebool -P {{ item }} on"
  with_items:
  - httpd_can_network_connect_db
  - httpd_can_sendmail

- name: Add config include to http.conf
  lineinfile:
    state: present
    dest: /etc/httpd/conf/httpd.conf
    line: "IncludeOptional \"{{ moodle3_parent_dir }}/*/etc/*.conf\""

- name: Configure Apache for PHP-FPM
  copy:
    src: php-fpm.conf
    dest: /etc/httpd/conf.d/php-fpm.conf
    mode: 0644
    owner: root
    group: root

- name: Template php.ini for SCL PHP
  template:
    src: php.ini.j2
    dest: /etc/opt/rh/rh-php56/php.ini
    mode: 0644
    owner: root
    group: wheel

- name: Configure OpCache for SCL PHP
  template:
    src: 10-opcache.ini.j2
    dest: /etc/opt/rh/rh-php56/php.d/10-opcache.ini
    mode: 0644
    owner: root
    group: wheel

- name: Add moodle3 apache config
  template:
    src: srv_moodle3.conf.j2
    dest: "{{ moodle3_parent_dir }}/{{ moodle3_site_name }}/etc/srv_moodle3.conf"
    owner: root
    group: wheel
    mode: 0664

- name: Add moodle3 app config
  template:
    src: config.php.j2
    dest: "{{ moodle3_parent_dir }}/{{ moodle3_site_name }}/moodle-{{ moodle3_version }}/config.php"
    owner: apache
    group: apache
    mode: 0664

- name: Add moodle3 app defaults
  copy:
    src: defaults.php
    dest: "{{ moodle3_parent_dir }}/{{ moodle3_site_name }}/moodle-{{ moodle3_version }}/local/defaults.php"
    owner: apache
    group: apache
    mode: 0664

- name: Set default SELinux context for etc subdirectory
  command: >
    semanage fcontext -a -t httpd_config_t  "{{ moodle3_parent_dir }}/{{ moodle3_site_name }}/etc(/.*)?"
  become: true

- name: Set default SELinux context for moodle3 subdirectory
  command: >
    semanage fcontext -a -t httpd_sys_rw_content_t  "{{ moodle3_parent_dir }}/{{ moodle3_site_name }}/moodle-{{ moodle3_version }}(/.*)?"
  become: true

- name: Set default SELinux context for moodledata subdirectory
  command: >
    semanage fcontext -a -t httpd_sys_rw_content_t  "{{ moodle3_parent_dir }}/{{ moodle3_site_name }}/moodledata(/.*)?"
  become: true

- name: Restore default SELinux context for moodle3
  command: >
    restorecon -rv {{ moodle3_parent_dir }}/{{ moodle3_site_name }}
  become: true

- name: Apache user is a member of the clamscan group
  user:
    name: apache
    groups: clamscan
    append: yes
