---

- name: Install Redhat Software Collections
  yum:
    name: "{{ item }}"
    state: present
  with_items:
  - centos-release-scl

- name: Install yum packages
  yum:
    name: "{{ item }}"
    state: present
  with_items:
  - gcc
  - mariadb
  - mod_php
  - MySQL-python
  - patch
  - rh-php56
  - rh-php56-php-fpm
  - rh-php56-php-opcache
  - rh-php56-php-iconv
  - rh-php56-php-mbstring
  - rh-php56-php-curl
  - rh-php56-php-openssl
  - rh-php56-php-tokenizer
  - rh-php56-php-xmlrpc
  - rh-php56-php-soap
  - rh-php56-php-ctype
  - rh-php56-php-zip
  - rh-php56-php-gd
  - rh-php56-php-simplexml
  - rh-php56-php-spl
  - rh-php56-php-pcre
  - rh-php56-php-dom
  - rh-php56-php-xml
  - rh-php56-php-intl
  - rh-php56-php-json
  - rh-php56-php-ldap
  - rh-php56-php-mysql
  - python-pip

- name: Remove potentially conflicting yum packages
  yum:
    name: "{{ item }}"
    state: absent
  with_items:
    - php
